@import './../App.scss';

@mixin boxStyles {
  border-radius: 5px;
  background-color: $white;
}


.logoImage {
  width: 90%;
  margin-bottom: 1em;
}

.searchBarContainer {
  width: 30em;
  .searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    .searchInputBar {
      height: 25px;
      width: 70%;
      margin-right: 18px;
      @include boxStyles;
      border-style: solid;
      &::placeholder {
        padding-left: 10px;
        color: $grey;
      }
    }
    .searchButton {
      height: 28px;
      width: 8em;
      @include boxStyles;
      color: $darkBlue;
      font-family: $bodyTextFont;
      font-weight: 400;
      letter-spacing: .5px;
    }
  }
}

.mapRenderContainer {
  height: 100%;
  @include boxStyles;
  width: .5vw;
  border: red solid 3px;
}

.indivBathroomDisplay {
  width: 30em;
  display: flex;
  align-items: center;
  margin: 18px 0px;
  @include boxStyles;
  & h3 {
    font-family: $bodyTextFont;
    font-weight: 300;
  }
  .bathroomTextInfoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    .numbered {
      margin-left: 10px;
      font-weight: 400;
    }
    .stackedNameAddressLines {
      margin-left: 20px;
      width: 350px;
      display: flex;
      flex-direction: column;
      .nameDistanceLine {
        margin-top: 10px;
        margin-bottom: -5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;
        .distance {
          font-size: 12px;
        }
      }
      .addressLine {
        font-size: 15px;
        text-align: left;
        height: 15px;
      }
    }
  }
  .iconDisplay {
    margin-left: 10px;
    .icon {
      width: 30px;
    }
  }
}
