$darkBlue: #2d3142;
$medBlue: #4f5d75;
$grey: #BFC0C0;
$white: #ffffff;
$salmonPink: #ef8354;
$titleFont: 'Dosis', sans-serif;
$bodyTextFont: 'Roboto', sans-serif;

@mixin informationDisplayWidth {
  width: 570px;
}
* {
  border: 1px dotted green;
}

.App {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  // border: 1px red solid;
}

.searchAndReturnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  @include informationDisplayWidth;
}
