@import './App.scss';

// * {
//   border: 1px green solid;
// }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkBlue;
  height: 100vh;
  width: 600px;
  color: $darkBlue;
  font-family: $bodyTextFont;
  font-size: 18px;
}

html {
  width: 600px;
}

#root {
  width: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
